<!doctype html>
<html>
<head>
    <title>Docker and AWS | Lightning Fast</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <h1> Welcome to the Lightning Fast Deploy MVP. </h1>
    <p>Join the bandwagon: There have been {{hits}} hits already on a website deployed with Docker and AWS!</h1>
    <p>Contact <a href="mailto:sales@docker.com">sales@docker.com</a> to give us some money.</p>
    <p> You can buy: </p>
    <ul>
        <li>Private repos on <a href="https://hub.docker.com">Docker Hub</a></li>
        <li>A 3-day Docker Bootstrap from the experts</li>
        <li>Public or private training</li>
        <li>Support</li>
        <li>Eventually, Docker Hub on premise (wink wink)</li>
    </ul>
</div>
</body>
